#login{
    color:#ffffff;
    background: #343A40;
    padding-top: 10px;
    padding-bottom: 20px;
    /*margin-bottom: 35px;*/
}

#login form {
    color:#ffffff;
    background: #343A40;
    padding-top: 10px;
}

#login form div, 
#login form button {
    margin-right: 20px;
}

.container1{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
