$bg-color:#35424a;
$font-color:#fff;
$primary-color: #e8491d;
$dark-overlay:rgba(0,0,0,0.5);
$icon-size:30px;

body{
  background:$bg-color;
  color: $font-color;
}

.navbar{
  border-bottom:$primary-color 3px solid;
  opacity:0.8;
}

#home-section{
  background:url('../res/img/slide2.jpg') no-repeat;
  min-height:700px;
  background-size:cover;
  background-attachment:fixed;

  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    min-height:700px;
  }
  
  .home-inner{
    padding-top:150px;
  }
  
  .card-form{
    opacity:1.0;
  }

  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}

#explore-section, #share-section{
  .fa{
    color:#fff;
    background:#35424a;
    padding:4px;
    border-radius: 5px;
    font-size:$icon-size;
  }
}

#create-section{
  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}

.bg-primary{
  background-color: $primary-color;
}

.text-black{
  color: black;
}