<div  xmlns:th="http://www.thymeleaf.org" th:fragment="modals">
    <th:block th:switch="${status}">
        <div th:case="'useduser'">
            <!-- Modal -->
            <div class="modal fade" id="useduser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-black">
                        <div class="modal-header">
                            <h5 class="modal-title">Username has already been taken!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p th:text="'The username ' + *{username} + ' has already been taken. Please choose another one.'"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#useduser').modal('show');
            </script>
        </div>
        <div th:case="'usedemail'">
            <!-- Modal -->
            <div class="modal fade" id="usedmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-black">
                        <div class="modal-header">
                            <h5 class="modal-title">Email Address has already been taken!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" th:text="'The Email Address '+${email}+' has already been taken. Please choose another one or delete your old account.'"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#usedmail').modal('show');
            </script>
        </div>
        <div th:case="'emptyform'">
            <!-- Modal -->
            <div class="modal fade" id="emptyform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-black">
                        <div class="modal-header">
                            <h5 class="modal-title">Empty Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            To register, you have to fill out this form entirely.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#emptyform').modal('show');
            </script>
        </div>
        <div th:case="'temp_modal'">
            <!-- Modal -->
            <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-black">
                        <div class="modal-header">
                            <h5 class="modal-title">${temp_modal_header}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" th:text="${temp_modal_header}"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#genericModal').modal('show');
            </script>
        </div>
    </th:block>
</div>
<!--Modal names
- mdl_sucreg
- mdl_useduser
- mdl_usedemail

- alt_email
- alt_pw-->