.journal_conatainer{
    margin-top: 5em;
}

.journal_entry{
    margin-bottom: 2em;
}

.btn_entry{
    background-color: #35424a;
}

.btn_entry_outline{
    border-color: #35424a;
}

.btn_entry_outline:hover{
    background-color: #35424a;
}