<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" xmlns:th="http://www.thymeleaf.org"
     th:fragment="navbarLoggedIn" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <a href="/" class="navbar-brand">DigitalJournal</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">

                <li class="nav-item">
                    <form method="POST" th:action="@{/logout}">
                        <a href="javascript:;" class="nav-link" onclick="parentNode.submit();">Log Out</a>
                    </form>
                </li>

                <li class="nav-item">
                    <a href="/profile/" class="nav-link">
                        <i class="material-icons">account_circle</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
