<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring MVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_MVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring MVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring MVC" />
          <element id="module-output" name="DigitalJournal_Old" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="DigitalJournal_Old/web/Web" />
    </root>
  </artifact>
</component>