<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon"  href="/img/favicon.ico"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0"/>

    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/res/css/journal.css" rel="stylesheet"/>
    <link href="/res/css/actionbutton.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/res/js/main.js"></script>
    <script src="/res/js/actionbutton.js"></script>

    <title>CHANGE PASSWORD | DigitalJournal</title>
</head>

<body id="home" class="">

<div th:replace="static_elements/navbarLoggedIn :: navbarLoggedIn"/>

<main role="main">
    <div class="container journal_conatainer">

        <h2>Reset Password</h2>
        <div class="container">
            <form method="POST" th:action="@{/recover/change}">

                <div class="form-group">
                    <label id="txt_username" class="control-label" th:text="'Username: ' + *{username}"/>
                </div>
                <div class="form-group">
                    <label id="txt_mail" class="control-label" th:text="'Mail: ' + *{email}"/>
                </div>
                <div class="form-group">
                    <label id="txt_password" type="password" class="control-label">Password</label>
                    <input class="form-control form-control-lg" type="password" placeholder="" name="password"/>
                </div>
                <div class="form-group">
                    <label id="txt_password2" type="password" class="control-label">Password Confirm</label>
                    <input class="form-control form-control-lg" type="password" placeholder="" name="password_confirm"/>
                </div>
                <!-- <input type="submit" value="Submit" class="btn btn-outline-light btn-block"/>
                <!--Alerts -->
                <div th:replace="forms/alerts:: alerts"></div>

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" id="btn_submitjournal" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </form>
            <!--  <form>
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label>Content</label>
                      <textarea cols="50" rows="10" class="form-control"></textarea>
                  </div>
                  <button class="btn btn-primary btn-block mb-5">Submit</button>
              </form> -->
        </div>

    </div>

</main>

<!--< j s p : include page="footer.jsp"/> -->
</body>

</html>
