<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon"  href="/img/favicon.ico"/>

    <meta name="_csrf" th:content="${_csrf.token}"/> <!--Enables AJAX-->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0"/>

    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/dropzone.css" rel="stylesheet"/>
    <link href="/res/css/journal.css" rel="stylesheet"/>
    <link href="/res/css/actionbutton.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/res/js/main.js"></script>
    <script src="/res/js/actionbutton.js"></script>

    <title>EDIT | DigitalJournal</title>
</head>

<body id="home" class="">

<div th:replace="static_elements/navbarLoggedIn :: navbarLoggedIn"/>

<script>
    $(function () {
        $("form#edit-journal-form")[0].dropzone.options.maxFiles = [[${2 - journal.images}]];
    })
</script>

<main role="main">
    <div class="container journal_conatainer">

        <h5 class="display-4">Edit Journals</h5>
        <div class="row">
            <div class="col-md-9">
                <form method="POST" th:action="@{/journal/edit}" th:object="${journal}">
                    <form>
                        <div class="form-group">
                            <label id="txt_journalname" class="control-label">Name</label>
                            <input class="form-control form-control-lg" type="text" placeholder="" th:field="*{journalName}"/>
                        </div>
                        <div class="form-group">
                            <label id="txt_journalcontent" class="control-label">Content</label>
                            <textarea class="form-control form-control-lg" rows="15" type="text" placeholder="" th:field="*{content}" />
                        </div>
                        <!--Alerts -->
                        <div th:replace="forms/alerts:: alerts"></div>

                        <div class="form-group">
                            <div class="text-right">
                                <a href="/journal/delete" class="btn btn-outline-danger">Delete</a>
                                <button type="submit" id="btn_submitjournal" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </form>
              <!--  <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea cols="50" rows="10" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block mb-5">Submit</button>
                </form> -->
            </div>

            <div class="col-md-3 text-dark">
                <!-- <img src="res/img/profile.jpg" alt="generic profile" class="img-thumbnail img-circles"> -->
                <div class="card" style="width: 20rem;">
                    <!-- <img class="card-img-top" src="res/img/generic_friends.jpg" alt="Card image cap"> -->
                    <div class="card-block p-3">
                        <h4 class="card-title">Images</h4>
                        <p class="card-text">Manage the images of this journal</div>
                    <ul class="list-group list-group-flush text-muted">
                        <th:block th:if="${journal.images > 0}" th:each="i : ${#numbers.sequence( 0, journal.images - 1)}">
                            <li class="list-group-item">
                                <img th:id="'img'+${i}+'_' + ${journal.journalid}" th:src="'/file/image/' + ${journal.journalid}+'/'+${i}" class="img-thumbnail img-view" style="margin: 5px; max-height: 150px">
                                <form method="POST" th:action="@{'/file/image/delete/' + ${journal.journalid}+'/'+${i}}">
                                    <button class='btn btn-block btn-danger float-right' type='submit'> <i class="material-icons">delete_outline</i></button>
                                </form>
                            </li>
                        </th:block>
                        <li th:if="${journal.images < 2}" class="list-group-item">
                            <form method="POST" class="dropzone needsclick dz-clickable" th:action="@{/file/image}" autocomplete="off" id="edit-journal-form"  enctype="multipart/form-data">
                            </form>
                        </li>
                        <li th:if="${journal.images >= 2}" class="list-group-item">
                            <div class="alert alert-info">
                                <strong>Image maximum reached!</strong> Delete at least one of your images if you want to upload a new one.
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div> -->
                </div>
            </div>
        </div>
    </div>

</main>


<!-- Modal -->
<div th:if="${delete == 'true'}">
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Journal </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this journal?
                </div>
                <div class="modal-footer">
                    <a th:href="@{'/journal/delete/' + ${journal.journalid}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#delete').modal('show');
    </script>
</div>

<!-- MAIN FOOTER -->
<div th:replace="footer :: footer"/>
</body>

</html>
