<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon"  href="/img/favicon.ico"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0"/>

    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/res/js/main.js"></script>

    <title>HOME | DigitalJournal</title>
</head>

<body id="home">

<div th:replace="static_elements/navbar :: header" ></div>

<!-- HOME SECTION -->
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4">Create
                            <strong>personal & secure</strong> journals and keep them forever.</h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Create your own journal to keep memories forever for yourself. You can trust our
                                encryption.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Share your memories not with everyone, but with your best friends.
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Be sure, that we will not track your web activities on all our services. Beside, we are not going to use Google Analytics or similar tools.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <!-- !!!! Card inner !!! -->
                            <div class="card-body">
                                <!--In here, we need to show different things, depending on the model -->
                                <div th:if="${status == 'sucreg'}" id="sucreg">
                                    <h3 th:text="'Welcome, ' + *{username} + '!'"/>
                                    <p  th:text="'We sent you an email to your address ' + *{email} + '!'"/>
                                    <br/>
                                    <p>Please click on the link you can find there within 24 hours.</p>
                                    <a href="/" class="btn btn-outline-light mr-3 ml-3"> Create your Journal!</a>
                                </div>
                                <div th:if="${status != 'sucreg'}">
                                    <div id="login">
                                        <h3>Log in</h3>
                                        <p>Please fill out this form to log in.</p>
                                        <form method="POST" th:action="@{/login}">
                                            <div class="form-group">
                                                <input type="text" id="lbl_username"
                                                       class="form-control form-control-lg"
                                                       placeholder="Username" name="username"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" id="lbl_password"
                                                       class="form-control form-control-lg"
                                                       placeholder="Password" name="password"/>
                                            </div>
                                            <input type="submit" value="Log In" class="btn btn-outline-light btn-block">
                                            <input type="button" value="Sign Up" id="btn_log-in" class="btn btn-outline-light btn-block">
                                            <div class="form-group text-right">
                                                <button type="button" class="btn btn-link" id="btn_recover" data-toggle="modal" data-target="#recoverModal">
                                                    Forgot Password
                                                </button>
                                            </div>
                                            <!--Alerts -->
                                            <div th:replace="forms/alerts:: alerts"></div>
                                        </form>
                                        <script>
                                            $(function () {
                                                $('#register').hide();
                                            });
                                        </script>
                                    </div>
                                    <!-- Register from -->
                                    <div id="register">
                                        <h3>Sign Up Today</h3>
                                        <p>Please fill out this form to register</p>
                                        <form method="POST" th:action="@{/register}" th:object="${registrationUser}">
                                            <div class="form-group">
                                                <input class="form-control form-control-lg" id="lbl_reg_name" type="text" placeholder="Name" th:field="*{name}" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control form-control-lg" type="email" id="lbl_reg_email" placeholder="Email" th:field="*{email}"/>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control form-control-lg" id="lbl_reg_password" type="password" placeholder="Password" th:field="*{password}"/>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control form-control-lg" id="lbl_reg_passwordconf" type="password" placeholder="Password Confirm" th:field="*{passwordConfirm}"/>
                                            </div>
                                            <input type="submit" value="Submit" id="btn_reg_submit" class="btn btn-outline-light btn-block"/>
                                            <!--Alerts -->
                                            <div th:replace="forms/alerts:: alerts"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- EXPLORE HEAD -->
<section id="explore-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Explore</h1>
                    <p class="lead">The world is free and its yours. Get to know the feeling to explore your world as well as your memories within a minute.
                    You can reach everything everywhere.</p>
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EXPLORE SECTION -->
<section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/res/img/generic3.jpg" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Explore & Connect</h3>
                <p>Life is not only about exploring things. It is about exploring things together. Our vision is to connect people who experienced the same. You can remind your friend about something and make sure, that you both never forget a special moment.</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Share Journals with Friends. It is only possible to share them within a mutual friendship. That way, you can keep track of what you want to see and what not.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Did you ever have a moment to forget? With Digital Journal, it is possible to forget and delete journals, if you don't want them anymore. Nobody will be able to see them after deleting.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CREATE HEAD -->
<section id="create-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Create</h1>
                    <p class="lead">Writing. Taking Pictures. Creating stories that create a lifetime and will never be lost again.</p>
                    <a href="#" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CREATE SECTION -->
<section id="create-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Create Your Passion</h3>
                <p>Life is about passion. Thank you for sharing mine. Because mine is to connect people. Not the way they think they should connect, but the way the want to connect to each other.</p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Your love and passion is to write texts? Ours as well. Get started now.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        You like pictures. We aswell do. You can upload your pictures secure and share them.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/res/img/generic4.jpg" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
        </div>
    </div>
</section>

<!-- SHARE HEAD -->
<section id="share-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="p-5">
                    <h1 class="display-4">Share</h1>
                    <p class="lead">Memories are not created in a moment of loneliness. Share them with the people, who deserve it. And Choose carefully.</p>
                    <a href="#" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SHARE SECTION -->
<section id="share-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/img/share-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Share what you create</h3>
                <p>Collections of pictures and text should spread the world. Like a good book from the 60s, they can be read, although they are from the past. </p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Share Journals with Friends. It is only possible to share them within a mutual friendship. That way, you can keep track of what you want to see and what not.
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Did you ever have a moment to forget? With Digital Journal, it is possible to forget and delete journals, if you don't want them anymore. Nobody will be able to see them after deleting.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAIN FOOTER -->
<div th:replace="footer :: footer"/>

<!-- RECOVER MODAL -->
<div class="modal fade text-dark" id="recoverModal">
    <form th:action="@{/recover}" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="contactModalTitle">
                            Recover your Password!
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label type="email">Email</label>
                            <input type="email" class="form-control" name="email"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </div>
    </form>
</div>

<div th:if="${recover == 'true' || recover == 'false'}" th:switch="${recover}">
    <!-- Modal -->
    <div class="modal fade" id="recover" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div th:case="'true'" class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">We've send you an email!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="'You received an recovery email at ' + *{email} + '. Please click on the link in this email within 1 hour.'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

            <div th:case="'false'" class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">We've send you an email!</h5>
                    <h5 class="modal-title">Unknown Email Address!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This email address is nowhere to be found in our records. Please check it again!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $('#recover').modal('show');
    </script>
</div>

<div th:if="${recover == 'invalidEmail'}">
    <!-- Modal -->
    <div class="modal fade" id="recovermail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">Invalid Email!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This Email Address is invalid. Please retry.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#recovermail').modal('show');
    </script>
</div>

<div th:if="${recover == 'pwchangesuccess'}">
    <!-- Modal -->
    <div class="modal fade" id="recoverdone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">Password resetted!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You Password has been resetted. Check out your Journals.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#recoverdone').modal('show');
    </script>
</div>

<div th:if="${emailchange == 'invalid_request'}">
    <!-- Modal -->
    <div class="modal fade" id="emailchangeinvalid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">Invalid Email Change Request!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The email change request is not or no longer valid. Please request a new one if you want to change your mail address.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#emailchangeinvalid').modal('show');
    </script>
</div>

<div th:if="${profile == 'delete_invalid_request'}">
    <!-- Modal -->
    <div class="modal fade" id="profiledeleteinvalid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">Invalid Delete Request!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The deletion request is not or no longer valid. Please request a new one if you want to delete your account.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#profiledeleteinvalid').modal('show');
    </script>
</div>

<div th:if="${profile == 'delete'}">
    <!-- Modal -->
    <div class="modal fade" id="profiledelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h5 class="modal-title">Account deleted!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your account and all other information associated with it has been deleted!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#profiledelete').modal('show');
    </script>
</div>

</body>

</html>
