<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon"  href="/img/favicon.ico"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0"/>

    <title th:text="${title}"></title>
</head>

<body id="home" class="">
<main role="main">
    <div th:switch="${has_action}" class="container journal_conatainer">
        <h2 class="page-header">Digital Journal</h2>
        <p th:text="'Dear ' + ${name} + ','"></p>
        <p th:text="${message_top}"/>
        <a th:case="true" th:href="${action_target}" class="btn btn-primary mb-5" th:text="${action_name}"></a>
        <p th:text="${message_bottom}"></p>
        <p>Sincerely yours,<br/>The DigitalJournal Team</p>
        <br>
        <br>
    </div>

</main>

</body>

</html>
